body {background-color: #000000;
    font-family: AdventPro;
    text-align: center;
}

@font-face {
    font-family: AdventPro;
    src: url(fontes/Adventpro/static/AdventPro/AdventPro-Bold.ttf);
}

.logo {
    width: 900px;
}

.desceuma {
    width: 620px;
    margin-top: 200px;
}

p {
    font-size: 55px;
    color: white;
    text-align: left;
    margin-left: 75px;
    margin-right: 75px;
}

.aviso {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    background-color: #00FFFF;
    color: #ffffff;
}