body {background-color: #000000;
    font-family: AdventPro;
    text-align: center;
}

@font-face {
    font-family: AdventPro;
    src: url(fontes/Adventpro/static/AdventPro/AdventPro-Bold.ttf);
}

.logo {
    width: 300px;
}

.desceuma {
    width: 200px;
    margin-top: 50px;
}

p {
    font-size: 20px;
    color: white;
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
}

.aviso {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    background-color: #00FFFF;
    color: #ffffff;
}