body {
    background-color: #000000;
    font-family: AdventPro;
    text-align: center;
}

@font-face {
    font-family: AdventPro;
    src: url(fontes/Adventpro/static/AdventPro/AdventPro-Bold.ttf);
}

.LGZV7 {
    margin-top: 900px;
    width: 470px;
}

.logo {
    width: 900px;
}

.Bcontinuar {
    width: 650px;
}

.bemvindo {
    margin-top: 900px;
    font-size: 165px;
    background: linear-gradient(to bottom, #ff1100 0%, #FFFF00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.aviso {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    background-color: #00FFFF;
    color: #ffffff;
}